*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    }

@media(min-width:600px){
    .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    
}

  .container2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}



.plan{
    background-color: white;
    height: 250px;
    width: 200px;
    align-items: stretch;
    margin:30px 15px 15px 15px;
    border-radius: 20px;

  
}

.title{
    background-color: skyblue;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: white;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius:20px 20px 0 0;
}

.cost{
    text-align: center;
    line-height: 1.5;
    font-size: 38px;
    font-weight: 700;
    
}

.month{
    font-size:18px;
    font-weight:50;
    font-style: oblique;
}

.plan a{
    background-color: skyblue;
    color: white;
    padding:10px 15px;
    display: block;
    text-align: center;
    margin: 40px 25px 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.plan a:hover{
    background-color: dodgerblue;
    transition: all 0.4s ease;
}

.plan:hover{
    transform: scale(1.1);
}

.box{
    background-color: white;
    height: 80px;
    width:750px;
    padding-top: 20px;
    
}

.bar {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
    background-color: #bbb;
    height: 10px;
    margin-top: 20px;
}

.above {
    margin: 0 auto;
    width: 80%;
    font-family: 'Roboto Condensed', sans-serif;
}
.textLeft{
    margin: 0 auto;
    padding:0;
    float:left;
}

.textRight{
    margin: 0 auto;
    float:right;
    
}

.box:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}



